{{! views/layouts/main.hbs }}

<!--
  Main layout template.
  Provides the base HTML structure for all pages.
  Includes the CSS stylesheet and renders the page content.
-->


<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    {{{body}}}
  </body>
</html>